name: PythonTests

on:
  pull_request:
    branches:
    - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:     
      - uses: actions/checkout@v2
      
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
          
      - name: basic python testing
        run: |
          echo "Printing whole database"
          python CrossSectionHelper.py --print
